(use-package org-gcal
  :bind (("C-c a" . org-agenda))
  :config
  (setq org-gcal-client-id ""
	org-gcal-client-secret ""
	org-gcal-file-alist '(("" . "~/orgfiles/gcal.org"))))

(setq org-agenda-files (list "~/orgfiles/gcal.org"))
(setq org-agenda-files (list "~/orgfiles/todo.org"))
(add-hook 'org-agenda-mode-hook (lambda() (org-gcal-sync)))
(add-hook 'org-capture-after-finalize-hook (lambda() (org-gcal-sync)))

(provide 'thomaav-gcal)
